body{
  color: #333;
}

a{
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s ease;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

nav.fixed {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  border-bottom:2px solid lightgray;
  z-index: 100;
}

ul.nav-list {
  display: flex;
  justify-content: center;
}

li.page-link {
  width: 120px;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  cursor: pointer;
}

li.page-link:hover {
  border-bottom: 2px solid dodgerblue;
  color: dodgerblue;
}

a.page-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s ease;
}

a.page-link:hover {
  color: dodgerblue;
}


.text-center {
  text-align: center;
}




/* section-one ----------------------*/

.section-one {
  background-image: url(../img/top-img.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 62px;
  width: 100vw;
  height: calc(100vh - 62px);
  display: flex;
  justify-content: center;
}

.say-hello {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.section-heading {
  font-size: 60px;
}

.heading-top {
  margin-top: 70px;
  text-align: center;
  font-weight: bold;
}

.section-description {
  font-size: 22px;
  text-align: center;
  color: gray;
}

/* section-two ----------------------*/
.section-two {
  width: 100vw;
  height: auto;
}

.section-contents-wrapper {
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.self-img {
  width: 32%;
  min-width: 300px;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  margin: 30px 30px;
}

.profile-box {
  min-width: 380px;
  max-width: 40%;
  padding: 20px 60px;
  font-size: 20px;
}


/* section-three ----------------------*/
.section-three {
  width: 100vw;
  height: auto;
  background-color: rgba(0,0,0,0.1);
}


.my-skills {
  width: 80%;
  margin: 100px auto 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skill-object {
  min-width: calc(50% - 20px);
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background-color: white;
  padding-left: 10px;
  margin: 20px 10px 20px 0;
  box-shadow: 0px 0px 12px 0px #333;
}

.skill-object-title {
  height: 100%;
  font-size: 20px;
  line-height: 50px;
  margin-right: 10px;
}

.five-stars {
  line-height: 50px;
  margin-right: 10px;
  float: right;
}



/* section-four ----------------------*/
.section-four {
  width: 100vw;
  height: auto;
}

.my-works {
  width: 360px;
  height: 360px;
  float: left;
  margin: 10px;
}


.my-works-img {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-color: gray;
  box-shadow: 0px 0px 4px 2px gainsboro;
}

.my-works-img:hover {
  opacity: 0.6;
}

.my-works-details {
  width: 100%;
  height: calc(100% - 270px);
  font-size: 14px;
}

.site-title {
  font-size: 16px;
  font-weight: bold;
  height: 26px;
  line-height: 30px;
}

.development-language {
  height: 26px;
  line-height: 26px;
}

.my-works-links {
  height: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
}

.link-to-my-work {
  color: dodgerblue;
  margin: 0 10px;
}

.link-to-my-work:hover {
  opacity: 0.6;
}

.site-caution {
  font-size: 12px;
  color: darkgray;
  cursor: pointer;
  padding-left: 10px;
  position: relative;
}

.speech-bubble {
  position: absolute;
  top: -60px;
  left: 105px;
  height: 60px;
  background-color: black;
  border-radius: 10px;
  line-height: 18px;
  text-align: left;
  padding: 5px 20px;
  color: white;
}

.no-display {
  display: none;
}

/* section-five ----------------------*/
.section-five {
  width: 100vw;
  height: auto;
  background-color: rgba(0,0,0,0.1);
}

.page-link-to-top {
  height: 50px;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  opacity: 0.6;
  background-color: darkslategray;
}

#contact-way {
  justify-content: center;
  margin: 60px auto 120px;
}

.contact-icon {
  font-size: 60px;
  margin: 20px;
  padding: 0px 15px;
  background-color: white;
  border-radius: 50%;
}

.fa-envelope {
  color: red;
}

#twitter-icon {
  background-color: deepskyblue;
}

.fa-twitter {
  color: white;
}

.fa-github {
  font-size: 90px;
  margin: 20px;
  border-radius: 50%;
  background-color: white;
}

.mail-address {
  width: 80%;
  text-align: center;
  font-size: 22px;
  color: gray;
}