a{
  text-decoration: none;
  color: white;
}
#wrapper {
  display: flex;
  flex-direction: column;
}

nav.fixed {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  border-bottom:2px solid lightgray;
  z-index: 100;
}

ul.nav-list {
  display: flex;
  justify-content: center;
}

li.page-link {
  width: 120px;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s ease;
  cursor: pointer;
  color: white;
}

li.page-link:hover {
  border-bottom: 2px solid gold;
  color: gold;
}

a.page-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s ease;
}

a.page-link:hover {
  color: gold;
}

.top-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
}

.section-one {
  position: absolute;
  top: 62px;
  width: 100vw;
  height: calc(100vh - 62px);
  display: flex;
  justify-content: center;
}

.say-hello {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.section-heading {
  color: white;
  font-size: 60px;
}

.heading-top {
  position: absolute;
  top: 70px;
}

.section-description {
  position: absolute;
  top: 144px;
  font-size: 22px;
  color: white;
}

/* section-two */
.section-two {
  width: 100vw;
  height: 100vh;
  background-color: dimgray;
  display: flex;
  justify-content: center;
  position: relative;
  /* align-items: center; */
}

.section-contents-wrapper {
  position: absolute;
  top: 242px;
  width: 80%;
  /* display: flex;
  justify-content: space-around; */
}

.self-img {
  min-width: 300px;
  max-height: 300px;
  background-color: orangered;
  background-position: center;
  background-size: cover;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 300px;
  float: left;
  margin: 0 100px 100px;
}

.profile-box {
  float: left;
  min-width: 380px;
  padding: 20px 60px;
  color: white;
  font-size: 20px;
}


/* section-three */
.section-three {
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.my-skills {
  color: white;
  width: 80%;
}

.skill-object {
  width: calc(50% - 20px);
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background-color: white;
  color: darkcyan;
  padding-left: 10px;
  margin: 20px 10px 20px 0;
  box-shadow: 0px 0px 12px 0px deepskyblue;
  float: left;
}

.skill-object-title {
  height: 100%;
  font-size: 20px;
  line-height: 50px;
  margin-right: 10px;
}

.five-stars {
  line-height: 50px;
  margin-right: 10px;
  float: right;
}
/* #wrapper-three {
  justify-content: space-between;
} */



/* section-four */
.section-four {
  width: 100vw;
  height: 100vh;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.my-works {
  width: 292px;
  height: 400px;
  background-color: palegoldenrod;
  float: left;
  margin: 10px;
}


/* section-five */
.section-five {
  width: 100vw;
  height: 100vh;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-link-to-top {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  opacity: 0.6;
  background-color: darkslategray;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}